body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1920px;
    height: 2688px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
}

.wrapper .container {
    width: 100%;
    height: 576px;
    position: relative; 
    background-color: #03827E; 
    z-index: 0;
    display: flex;
    justify-content: center;
}

.img-background{
    position: absolute;
    top: 0;
    z-index: -1;
}

.img-background img {
    width: 100%;
    height: auto;
    display: block;
}


header {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 0px 381.23px 0px 323px;
    align-items: center;
    gap: 404.18px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 7%, rgba(0, 0, 0, 0.00) 70%);
}

header .logo img{
    width: 108.82px;
    height: 64px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 41.8px;
    padding: 0;
    margin: 0;
}

.nav-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s;
    font-size: 15px;
}

/* Reponsive */

@media (min-width: 1024px) and (max-width: 1439px) {
    header {
        padding: 0 100px;
        gap: 250px;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    .wrapper .container {
        width: 100%;
    }
    header {
        padding: 0 50px;
        gap: 150px;
    }

    header .logo{
        visibility: hidden;
    }

    .nav-list {
        gap: 30px;
    }
}

@media (max-width: 639px) {
    header {
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;
    }

    header .logo{
        visibility: hidden;
    }

   
    .nav-list {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .wrapper {
        width: 100%;
        height: auto;
    }

    .img-background img {
        width: 100%;
    }
}









